@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    text-decoration: none;
    font-size: 15px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #DDE6ED;
    font-weight: 700;
}

.logo__text {
    font-size: 1.5rem;
    color: white;
}

header {
    background-color: #262626;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.hamburger {
    position: absolute;
    display: none;
    top: .75rem;
    right: 30px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 20px;
}

li a {
    color: white;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 20px;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 712px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: #262626;
        transition: .3s;
    }

    li {
        padding: 20px 0;
    }

    li a:hover {
        color: red;
    }

    .nav-links.active {
        left: 0;
    }
}